* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 28px;
}

ul {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  background-color: darksalmon
}

.aboutLayout {
  display: flex;
}

.sidebar {
  background-color: darkslategrey;
  color: #fff;
  height: 100vh;
  padding: 20px;
}

.team_wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.team {
  color: #000;
}

.team_card {
  background-color: darksalmon;
  padding: 40px;
  margin: 20px;
}